/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

html, body {
  font-family: 'Raleway', sans-serif;
  background-color:lavenderblush;
  color: #0B3948;
  height: 100%;
}

h1 {
  font-size: 40px;
  text-align: left;
  color: #0B3948;
  margin-inline: 30px;
  display: inline-block;
}

p {
  font-size: 20px;
}

footer {
  text-align: center;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: none;
  background-color: lavenderblush;
  margin-top: 30px;
  margin-right: 30px;
  float: right;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  transition: 0.3s;
  font-size: 20px;
  margin-inline: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ACB0BD;
}

/* Create an active/current tablink class */
.tab button.active {
  /* background-color: #D0CDD7; */
  color: #D1345B;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  margin-inline: 20px;
  /* border: 1px solid #D0CDD7; */
  border-top: none;
  height: 100%;
}

#addCart {
  font-size: 16px;
  padding: 7px;
  border-radius: 7px;
  margin: 10px;
  border-color: #ACB0BD;
  background-color: #D0CDD7;
  box-shadow: none;
}

#displayCart {
  font-size: 16px;
  margin: 7px;
}

#displayProduct {
  font-size: 16px;
}

#welcome {
  text-align: center;
  font-size: 30px;
}

#welcome2 {
  text-align: center;
}
/* the following code is taken from 
https://stackoverflow.com/questions/306924/can-i-change-the-checkbox-size-using-css */

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 30px;
  margin: 10px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  font-size: 20px;
  display: inline;
}